<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Editor</title>
    <style type="text/css" media="screen">
        body {
            overflow: hidden;
        }

        #editor {
            margin: 60px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script src="/static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        
    </script>
    <script>
        $(function() {
            
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/twilight");
            editor.session.setMode("ace/mode/java");
            var EditSession = ace.require("ace/edit_session").EditSession;
            var java = new EditSession("");
            var swift = new EditSession("");
            
            var id = getUrlParameter('id');
            if (!id) {
                location.search = location.search
                    ? '&id=' + getUniqueId() : 'id=' + getUniqueId();
                return;
            }
            // a unique random key generator
            function getUniqueId () {
                return 'presence-' + Math.random().toString(36).substr(2, 9);
            }

            // function to get a query param's value
            function getUrlParameter(name) {
                name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                var results = regex.exec(location.search);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            };
            
            
            // Enable pusher logging - don't include this in production
            Pusher.logToConsole = true;

            var pusher = new Pusher('b240a449c3e79c81f151', {
                cluster: 'us2',
                encrypted: true,
                authEndpoint: '/pusher/auth/'
            });

            var channel = pusher.subscribe(id);
        
            channel.bind('client-text-edit', function(html) {
                editor.session.setValue(html)
            })
            
            
        
            function triggerChange (e) {
                channel.trigger('client-text-edit', editor.session.getValue());
            }
            
            editor.session.on('keyup', triggerChange);
            
            $('#language').on('change', function(e) {
                var language = $(this).val();
                if (language == 'java') {
                    swift = new EditSession(editor.session.getValue());
                    editor.setSession(java);
                    editor.session.setMode('ace/mode/java');
                }                
                else if (language == 'swift') {
                    java = new EditSession(editor.session.getValue());
                    editor.setSession(swift);
                    editor.session.setMode('ace/mode/swift');
                }
            });
            
            $('#run').on('click', function(e) {
                var code = editor.getValue(),
                    language = $("#language").val();
                var to_compile = {
                    id: id,
                    language: language,
                    program: code
                }
                $.ajax({
                    url: "{{ url_for('run_code') }}",
                    type: "POST",
                    data: to_compile
                });
            });
            
            $('#save').on('click', function(e) {
                var code = editor.getValue(),
                    language = $("#language").val();
                var to_save = {
                    id: id,
                    language: language,
                    program: code
                }
                $.ajax({
                    url: "{{ url_for('save_code') }}",
                    type: "POST",
                    data: to_save
                });
            });
        });
    </script>
</head>

<body>
    <!-- <pre id="editor">     import java.util.*;     import java.lang.*;     class Rextester {         public static void main(String args[]) {             System.out.println("Hello World");         }     }     </pre> -->
    <div id="editor">
import java.util.*;
import java.lang.*;
class Rextester
{
    public static void main(String args[])
    {
        System.out.println("Hello, World!");
    }
}
</div>
    <button id="run">Run</button>
    <button id="save">Save</button>
    <select id="language">
        <option value="java">Java</option>
        <option value="swift">Swift</option>
    </select>
</body>

</html>